<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans.xsd">  
               <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
               <property name="driverClassName" value="${database.driverClassName}"></property>
               <property name="url" value="${database.url}"></property>
               <property name="username" value="${database.username}"></property>
               <property name="password" value="${database.password}"></property>
               </bean>
               
               <bean id="employeeService" class="com.example.service.EmployeeServiceImpl">
               <property name="employeeDAO" ref="employeeDao"></property>
               </bean>
               
               <bean id="employeeDao" class="com.example.dao.EmployeeDAOImpl">
               <property name="jdbctemplate" ref="jdbctemplate"></property>
               </bean>
               <bean id="jdbctemplate" class="org.springframework.jdbc.core.JdbcTemplate">
               <property name="dataSource" ref="dataSource"/>
               </bean>
               <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
               <property name="locations">
               <list><value>
               database.properties
               </value>
               </list>
               </property>
               </bean>
  
  </beans>